# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
/eit_basic_experiments/*
/eit_basic_experiments
/eit_dual_experiments/*
/eit_basic_dual_unreduced_experiments/*
/experiment_1/*
.ipynb_checkpoints
./notebooks/.ipynb_checkpoints/*
/eit_basic_dual_unreduced_experiments
